
@{
    ViewBag.Title = "Lista de livros";
}
@section Scripts{
    <script src="~/Scripts/book/book.js"></script>
}


<div class="">
    <div class="row">
        <h1>@(ViewData["Title"])</h1>
    </div>

    <div class="row">
        <button class="btn btn-warning" style="float: right;" data-bind="click: $root.AddCommand">
            <i class="fas fa-plus"></i>
            <span> Criar </span>
        </button>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Código
                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Quantidade
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Books">
                <tr>
                    <td>
                        <span data-bind="text: code"></span>
                    </td>
                    <td>
                        <span data-bind="text: name"></span>
                    </td>
                    <td>
                        <span data-bind="text: count"></span>
                    </td>
                    <td width="130">
                        <a data-bind="click: $root.EditCommand" class="icon-color" title="Editar"><i class="fas fa-edit"></i></a>
                        <a data-bind="click: $root.DeleteCommand" class="icon-color" title="Excluir"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>